.filmBlock {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px;
}

.filmContainer {
    display: flex;
    max-width: 1920px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filmBlock img {
    height: 400px;
    width: 300px;
}

.filmBlock :last-child {
    overflow: hidden;
    height: 60px;
}

.filmName {
    font-size: 20px;
    margin: 0;
    font-weight: bold;

}